.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #1e3c72, #6699CC);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  color: #f8f8ff;
}

.widgets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 90%;
  transition: all 0.7s ease;
}
