.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #00BFFF;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    color: #34495e;
  }
  
  .widgets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    transition: all 0.7s ease;
  }
  
  
  
  
  
  
  
  