.header {
    min-height: 10vh;
    width: 100%;
    background-image: linear-gradient(#2E5186, #2E5186);
    background-position: center;
    background-size: cover;
    position: relative;
}
  
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
  }
  
nav img {
    border-radius: 50%;
    width: 80px; 
    height: 80px;
    object-fit: cover;    
}
  
.links ul {
    display: flex;
    gap: 50 px; 
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.links ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 12px;
    position: relative;
}
  
.links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
  
.links ul li::after {
    content: '';
    position: absolute; /* better hover positioning */
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: #7CB9E8;
    transition: width 0.5s;
}
  
.links ul li:hover::after {
    width: 100%;
}
  
.textbox {
    width: 90%;
    color: #fff;
    position: relative; 
    text-align: center;
    margin-top: 20px; 
}
  
.textbox h1 {
    font-size: 32px; 
}
  
@media (max-width: 800px) {
.header {
    min-height: auto;
}
  
.textbox h1 {
    font-size: 20px; 
}
  
.links ul li {
    padding: 1px 1px; 
}
  }
  