.widget {
  display: flex;
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  flex-direction: column; /* Stack title and "Current Value" vertically */
  gap: 200px; /* Add 50px of space between the title and "Current Value" */
  flex: 1 1 700px;
  padding: 1%;
  background-color: hsla(0, 0%, 100%, 0.15);
  border-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  transition:
    background-color 0.3s ease,
    opacity 0.3s ease;
  text-align: center;
  box-sizing: border-box;
  font-size: 30px;
  font-weight: bold;
  min-height: 200px;
  transition:
    background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  padding-top: 10px;
}

.widget:hover {
  background-color: #7cb9e8;
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.widget .items-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}